form{

    display: flex;
    padding: 15px 15px;
    flex-direction:row ;


}
.form{
    padding: 15px 30px;
}
.form-input{
    display: flex;
    flex-direction: column;
    
    
}
.button-design{
    width: 100px;
    height: 20px;
   
   
}
.input-block-background{
    background-color: white;
    display: flex;
    width: 800px;
    align-items: flex-end;
    justify-content: center;
    margin-left: 50px;
    padding: 25px 10px
}
.name-post{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 15px;
    justify-content: space-between;
    padding-right: 20px;
}