form{

    display: flex;
    padding: 15px 15px;
    flex-direction:row ;


}
.form{
    padding: 15px 30px;
}
.form-input{
    display: flex;
    flex-direction: column;
    
    
}
.button-design{
    width: 100px;
    height: 20px;
   
   
}
.input-block-background{
    background-color: white;
    display: flex;
    width: 800px;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: 50px;
    padding: 25px 10px;
    border-radius: 15px;
}
.name-post{
    display:flex;
    align-items: flex-start;
    padding-top: 15px;
    justify-content: space-between;
    padding-right: 20px;
    width:550px;

}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: white;
    resize: none;
  }
  .input-area{
    width:100%;
    border-radius: 7px;
    border: 2px solid #ccc;
  }
  .name-format{
    font-size: large;
    padding-right: 15px;
  }
  .postformat{
    font-size: large;
    padding-right: 30px;
  }
  .button-design{
    background-color: blue;
    border-radius: 20px;
    text-align:justify;
    color: white;
    padding-left: 30px;
    padding-bottom: 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }